body {
    padding-left: 15em;
    background-color: antiquewhite;
    background-image: url(background1.png);
    background-position: bottom right;
    background-size: 539px 483px;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

h1 {
    align-content: center; 
    color: black;
    font-family: 'bungee', cursive;
}

h2 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
}

h3 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 110%;
    font-weight: bold;
}

p {
    color: black;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
}

ul.navbar {
    color: black;
    position: absolute;
    left: 2em;
    width: 9em;
    font-family: 'Open Sans', sans-serif;
}

#main {
    width: 75%;
}